*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}


body{
    min-height:100vh;
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
}


/* AUTH */

.auth-box{

    width:380px;
    background:#111827;
    padding:30px;
    border-radius:20px;
    color:white;

}


.auth-box h1{
    text-align:center;
    margin-bottom:25px;
}


input{

    width:100%;
    height:45px;
    padding:0 15px;
    margin-bottom:12px;

    border-radius:10px;
    border:none;

    background:#1f2937;
    color:white;

}


button{

    width:100%;
    height:45px;

    border:none;
    border-radius:10px;

    background:#2563eb;
    color:white;

    cursor:pointer;

}





/* CHAT */

#chat-app{

    width:1000px;
    height:650px;

    display:flex;

    background:white;

    border-radius:20px;

    overflow:hidden;

}





/* SIDEBAR */


.sidebar{

    width:280px;

    background:#111827;

    color:white;

    padding:20px;

}



.logo{

    font-size:25px;
    font-weight:bold;

    margin-bottom:25px;

}



.profile{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px;

    background:#1f2937;

    border-radius:15px;

}



.avatar{

    width:45px;
    height:45px;

    border-radius:50%;

    background:#2563eb;

    display:flex;

    align-items:center;
    justify-content:center;

}



#users-list{

    margin-top:20px;

}



.user{

    padding:12px;

    background:#1f2937;

    margin-bottom:10px;

    border-radius:10px;

    cursor:pointer;

}





/* CHAT AREA */


.chat{

    flex:1;

    display:flex;

    flex-direction:column;

}



.chat-header{

    height:70px;

    padding:20px;

    border-bottom:1px solid #ddd;

    display:flex;

    justify-content:space-between;

}



.messages{

    flex:1;

    padding:20px;

    background:#f1f5f9;

    overflow-y:auto;

}



.msg{

    background:white;

    padding:12px 15px;

    border-radius:12px;

    margin-bottom:10px;

    width:max-content;

    max-width:70%;

}




.input-box{

    display:flex;

    gap:10px;

    padding:15px;

    background:white;

}



.input-box input{

    flex:1;

    margin:0;

    color:black;

    background:#e5e7eb;

}



.input-box button{

    width:60px;

}





@media(max-width:800px){

#chat-app{

    width:100%;
    height:100vh;
    border-radius:0;

}


.sidebar{

    width:220px;

}

}
/* MY MESSAGE */

.my-msg{

    background:#2563eb;

    color:white;

    margin-left:auto;

}


.my-msg b{

    color:white;

}


/* OTHER MESSAGE */

.other-msg{

    margin-right:auto;

}
